:root{
  --gray-500: #CCCCCC;
}
body{
  color: black;
  font-family: sans-serif;
}
header{}
.validation-list{
}
.listItem{
  width: 250px;
  /* height: 37px; */
  border-radius: 34px;
  padding-left: 2.5rem;
  background: url(./images/validation_icon\ 2.png) no-repeat 1rem ;
  background-color: var(--gray-500);
  margin-bottom: 12px;
}
a{
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;

}
a:link{
  /* color: ; */
}
/* a:visited{
  color: ;
}
a:hover, a:focus{
  color: ;
} */
/* a:active{
} */
img{
}