/* - transition 실습을 위한 과제 파일은 mission-03/transition.html 파일과 mission-03/transition.css 파일을 생성 후 각각 마크업과 스타일을 작성한다
- 관련 사이트는 제목으로 각각 항목은 링크로 구현한다.
- 링크 목록은 5개이며 CSS를 사용하여 화면에 1개의 목록만 보이도록 구현한다.
- 목록에 마우스를 올리면 5개의 목록이 펼쳐지도록 구현한다.
- transition 속성을 활용하여 애니메이션 효과를 적용한다.
- mission-03/README.md 파일을 생성한 후 마크업 코드와 CSS 코드에 대한 설명을 적고 아래 이미지와 같이 완성된 UI 스크린샷을 삽입한다. */

/* 숨김 콘텐츠 */
.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
/* 공통 style */
:root{
  --color-primary: #ED552F;
  --color-gray: #A3A3A3;
  --color-background: #CCCCCC;

  --font-large: 15px;
  --font-medium: 14px;

  --border-radius: 5px;
}
/* 공통 a 속성  */
a{
  color: inherit;
  text-decoration: none;
  /* width: 100%;
  height: 100%; */
}
/* ul li 공통 속성  */
ul{
  list-style-type: none;
}

main{
  background: var(--color-background);
  width: 190px;
  height: auto;
  font-size: var(--font-medium);
  padding: 12px;
  border-radius: var(--border-radius);
  margin: 2rem;
}
.title{
  font-size: var(--font-large);
  padding-bottom: 0.5rem;
  /* background: yellow; */
}
strong{
  color: var(--color-primary);
}
.container{
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  
  /* height: 26px;
  overflow: hidden;*/
  transition: .5s; 
}
.container:hover{
  /* height:auto; */
  
  
}
.list{
  line-height: 1.5;
  display: block;
  /* border: 1px solid black;   */
}
.list:first-child{
  z-index: 1;
  /* background: gray; */
  
}
.list:first-child ul{
  transform: scaleY(0);
  height:0;
  transition:.5s;
  transform-origin: top; 
  overflow: hidden;
}
.list:first-child:hover ul{
  transform: scaleY(1);
  height:auto;
}
.list a{
  display:block;
background: white;
}
/*  */
@keyframes dropdown {
  0%{
    background: green;
  }
  100%{
    background: pink;
  }
}
/* keyframes 필수값 */
.list{
    /* animation-name: dropdown;
    animation-duration: 3s; */
}
